.wrap {
    width: 45%;
    margin: 0 1%;
    float:left;
}

#map {
  width: 650px;
  height: 650px;
  float: left;
  display: inline-block;
}

.zipcode {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.legendbox {
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 45px;
  width: 300px;
}

.bar {
  fill: lightgrey;
  stroke: black;
}

.bar:hover {
  fill: steelblue;
}

.axis {
  font-family: Helvetica;
  font-size: 14px;
}

.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.label {
  fill: black;
  font-family: Helvetica;
  font-size: 14px;
  text-anchor: middle;
}
