#map {
  width: 650px;
  height: 650px;
  float: left;
  display: inline-block;
}

.zipcode {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.legendbox {
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 45px;
  width: 300px;
}

/* .bar {
  fill: lightgrey;
  stroke: black;
}

.bar:hover {
  fill: steelblue;
}

.axis {
  font-family: Helvetica;
  font-size: 14px;
}

.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.label {
  fill: black;
  font-family: Helvetica;
  font-size: 14px;
  text-anchor: middle;
} */

.leaflet-edit-move {
  max-width: 16px;
  max-height: 16px;
  border-radius: 50%;
  background: #ff7800;
  border: 1px solid #000;
  opacity: 0.85;
}

.leaflet-edit-resize {
  max-width: 16px;
  max-height: 16px;
  border-radius: 50%;
  background: #0078ff;
  border: 1px solid #000;
  opacity: 0.85;
}

.axis--map--caption {
  fill: black;
  font-family: Helvetica;
  font-size: 12px;
  text-anchor: start;
  font-weight: bold;
}

.infobox {
  text-align: left;
  line-height: 14px;
  font-size: 14px;
  color: #000000;
  width: 180px;
  height: 45px;

  margin-top: 0px;
  padding: 8px 8px;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
