.zipcode{
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.bar{
  fill: silver;
  stroke: black;
  stroke-width:1px
}

.yaxis path{
  display:none;
}

.xaxis path{
  display:none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.label{
  fill: black;
  font-family: Helvetica;
  font-size: 13px;
  text-anchor: middle;
}

.colorbartitle{
  font-family: Helvetica;
  font-size: 13px;
  fill:black;
  text-anchor: left;
}